<!DOCTYPE html>
<html>
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <meta charset="UTF-8">
    <title>PDF Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>🔧 PDF Tools</h1>
    <div class="form-grid">

    <form action="/merge" method="post" enctype="multipart/form-data">
        <h3>➕ Merge PDF</h3>
        <input class="choose" type="file" name="pdfs" multiple required>
        <button type="submit">Merge Files</button>
    </form>

    <form action="/split" method="post" enctype="multipart/form-data">
        <h3>✂️ Split PDF Pages</h3>
        <input class="choose" type="file" name="pdf_file" required>
        <input type="text" name="page_num" placeholder="Pages to split (e.g. 1)" required>
        <button type="submit">Split Pages</button>
    </form>

    <form action="/extract" method="post" enctype="multipart/form-data">
        <h3>📄 Extract PDF Text</h3>
        <input class="choose" type="file" name="pdf_file" required>
        <button type="submit">Extract Text</button>
    </form>

    <form action="/decrypt" method="post" enctype="multipart/form-data">
        <h3>🔓 Remove PDF Password</h3>
        <input class="choose" type="file" name="pdf_file" required>
        <input type="text" name="password" placeholder="PDF Password">
        <button type="submit">Decrypt</button>
    </form>